{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
  Мої петиції
{% endblock %}

{% block head %}
{% endblock head %}

{% block javascript %}
{% endblock javascript %}

{% block body %}

<div class="content">
  <div class="row">
   <div class="col s12 m4 push-m8">
      {% include 'profile-menu.html' with active='my-petitions' %}
    </div>
      <div class="col s12 m8 pull-m4">
     <h4>Мої петиції:</h4>
      {% include 'petitions-table-profile.html' %}
  </div>
  </div>
</div>
{% endblock body %}